* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Pixellari", arial;
    src: url('./Pixellari.ttf');
}

html {
    height: 100vh;
}

body {
    font-family: "Pixellari";
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    /*background-color: #ffe5ec;*/
    background-image: url(images/pokemon-background.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#game-container {
    display: none; 
    flex-direction: column; 
    flex-grow: 1;
}

.splash-screen {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 229, 236, 0.75);
    z-index: 10; 
    max-width: 500px;
    max-height: 400px; 
    margin: auto; 
    border-radius: 20px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.splash-screen h2 {
    font-family: "Pixellari", arial;
    font-size: 3rem;
    color: #fb6f92;
    text-shadow: 3px 3px 0 #ffb3c6; 
    margin-bottom: 0.5rem;
}

.splash-screen p {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.5rem;
    color: #333; 
    max-width: 80%;
    margin-bottom: 3rem;
    line-height: 1.4;
}

/*START BUTTON*/
#start-btn {
    box-shadow: 0 4px 0 #c6547a; 
    transition: all 0.1s ease;
    cursor: pointer;
    padding: auto; 
    font-size: 1.2rem;
    text-align: center;
}

#start-btn:active {
    /* Push-down effect on click */
    transform: translateY(4px);
    box-shadow: 0 0 0 #c6547a;
}

.header_title {
    background-color: #ffb3c6;
    color: #fb6f92;
    font-size: 1.5rem;
    margin: 0;
    padding: 28px;
    text-align: center;
}

img {
    max-width: 220px; 
    border-radius: 8px;
}

.main {
    flex-grow: 1;
    display: flex; 
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto; 
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: 20px;
    max-width: 900px;
    width: 90%;
}

.reset {
    box-shadow: 0 4px 0 #c6547a; 
    background-color: #fb6f92;
    border-radius: 10px;
    border: none;
    color: #faf2f4;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin: auto;
    margin-top: 12px;
    padding: 12px;
    transition: all 0.1s ease;
    text-align: center;
    width: 150px;
}

#reset-btn:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #c6547a;
}

.footer {
    background-color: #ffb3c6;
    color: #fb6f92;
    font-family: Arial, Helvetica, sans-serif;
    padding: 26px;
    text-align: center;
    margin-top: 15px;
}
/* ------------------------------------------- */

/* MEDIA QUERIES iPhone 12 */
@media (max-width: 576px) {
    .header_title {
        font-size: 1.5rem; 
        padding: 20px;
    }

    .game {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(4, 1fr); 
        width: 98%; 
        padding-top: 8px;
        grid-gap: 10px;
    }

    img {
        max-width: 100%; 
        height: auto;
    }

    .reset {
        margin-top: 20px;
    }

    .splash-screen h2 {
        font-size: 2.2rem; /* Adjust title size for small screens */
    }
    
    .splash-screen p {
        font-size: 1rem;
        margin-bottom: 2rem;
        max-width: 50%;
        padding: auto;
        max-height: 50%;
    }
    
    #start-btn {
        padding: auto;
        font-size: 0.9rem;
    }
}