* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Pixellari", arial;
    src: url('./Pixellari.ttf');
}

html {
    height: 100vh;
}

body {
    font-family: "Pixellari";
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    /*background-color: #ffe5ec;*/
    background-image: url(images/pokemon-background.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header_title {
    background-color: #ffb3c6;
    color: #fb6f92;
    font-size: 2rem;
    margin: 0;
    padding: 28px;
    text-align: center;
}

img {
    max-width: 220px; 
    border-radius: 8px;
}

.main {
    flex-grow: 1;
    display: flex; 
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto; 
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: 20px;
    max-width: 900px;
    width: 90%;
}

.reset {
    border: none;
    background-color: #fb6f92;
    border-radius: 10px;
    color: #faf2f4;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 12px;
    width: 150px;
}

.footer {
    background-color: #ffb3c6;
    color: #fb6f92;
    font-family: Arial, Helvetica, sans-serif;
    padding: 26px;
    text-align: center;
    margin-top: 15px;
}
/* ------------------------------------------- */

/* MEDIA QUERIES iPhone 12 */
@media (max-width: 576px) {
    .header_title {
        font-size: 1.5rem; 
        padding: 20px;
    }

    .game {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(4, 1fr); 
        width: 98%; 
        padding: 10px;
        grid-gap: 10px;
    }

    img {
        max-width: 100%; 
        height: auto;
    }

    .reset {
        margin-top: 10px;
    }
}